body {
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(60deg, rgb(248, 223, 0), rgb(151, 3, 196), rgb(23, 3, 206), rgb(8, 223, 80));
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 80%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    height: 100%;
}

.container {
    margin: auto;
    position: relative;
    width: 80%;
    text-align: center;
}

.container>img {
    border-radius: 50%;
    width: 250px;
    height: 300px;
    margin: auto;
    transition: all 1.5s;
    transform-origin: center center;
    cursor: pointer;
}

.container>img:hover {
    transform: rotate(360deg);
}

.container>h1 {
    text-align: center;
}

.container>h3 {
    text-align: center;
}

.container>p {
    text-align: center;
    font-size: 18;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.menu li {
    display: inline-block;
    line-height: 50px;
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    background-image: -webkit-linear-gradient( top, rgba(255, 255, 255, .5) 0%, rgba(0, 0, 0, .1) 100%);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.65);
    color: #f4f4f4;
    font: bold 18px 'Roboto', sans-serif;
    padding: 5px 15px;
    text-decoration: none;
}

.fb {
    background: #3b5998;
}

.fb:hover {
    background: #8b9dc3;
}

.twit {
    background: #1dcaff;
}

.twit:hover {
    background: #00aced;
}

.git {
    background: #6e5494;
}

.git:hover {
    background: #999;
}

.blog {
    background: #23c6de;
}

.blog:hover {
    background: #18d8f4;
}